{{ $cover := and (.HasShortcode "blocks/cover") (not .Site.Params.ui.navbar_translucent_over_cover_disable) }}
<header>
    <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}">
            <span class="navbar-logo"></span>{% include logo.svg %}<span class="text-uppercase font-weight-bold">{{ site.title[page.lang] }}</span>
        </a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
            {% for link in site.data.navigation[page.lang] %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{page.lang}}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
			</li>{% endfor %}


  <li class="nav-item dropdown mr-4 d-none d-lg-block">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ site.data.languages[page.lang].label }}</a>
    <div class="dropdown-menu">
        {% if page.layout != 'index' %}
            {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% if posts.size == 0 %}
                {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% endif %}
            {% if posts.size > 1 %}
                {% for post in posts %}

                <a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[post.lang].label }}" class="{{post.lang}} dropdown-item" href="{{ site.baseurl }}{{ post.url }}">{{ site.data.languages[post.lang].label }}</a>


            {% endfor %}
            {% endif %}
        {% endif %}
   </div>
  </li>

		</ul>
	</div>
	
    <div class="navbar-nav d-none d-lg-block">
        <input type="search" class="form-control td-search-input" placeholder="&#xf002 {{ site.data.translations['SearchIn'][page.lang] }}" aria-label="Search this site…" autocomplete="off"> 
    </div>
   
	<div class="navbar-nav d-none d-lg-block">
          <a class="gh-source" data-gh-source="github" href="{{ site.repo }}" title="Go to repository" data-md-state="done">
            <i class="fab fa fa-github fa-2x" style='color: #fff;padding-right:20px; float:left; margin-top:5px'></i></a>
        </div>
      </div>


</nav>
</header>

