<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="no-js">
  {% include head-cover.html %}
  {% include google-analytics.html %}

  <body class="td-home">
    {% include header-cover.html %}
    <div class="container-fluid td-default td-outer">

<main role="main" class="td-main">
        
		<link rel="preload" as="image" href="/assets/img/featured-background.jpg" media="(max-width: 1200px)">

		<style>
		#td-cover-block-0 {
    		background-image: url( {{site.baseurl}}{{ page.cover-image  }} ); 
		}
		@media only screen and (min-width: 1200px) {
    	#td-cover-block-0 {
        	background-image: url({{site.baseurl}}{{ page.cover-image  }}); 
    	}
		}
		</style>

{{ content }}


<!--

          {{ page.section1 }}



<a id="td-block-2" class="td-offset-anchor"></a>
<section class="row td-box td-box--dark td-box--gradient td-box--height-auto">
	<div class="col">
		<div class="row ">

      <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
        <div class="mb-4 h1">
          <i class="fas fa-lightbulb"></i>
        </div>
        <h4 class="h3">
            New chair metrics!
        </h4>
        <p class="mb-0"></p>
        <p>The Goldydocs UI now shows chair size metrics by default.</p>
        <p>Please follow this space for updates!</p>
        <p></p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
        <div class="mb-4 h1">
          <i class="fab fa-github"></i>
        </div>
        <h4 class="h3">
            Contributions welcome!
        </h4>
        <p class="mb-0"></p>
        <p>We do a <a href="https://github.com/google/docsy-example/pulls">Pull Request</a> contributions workflow on <strong>GitHub</strong>. New users are always welcome!</p>
        <p></p>
        <p><a href="https://github.com/google/docsy-example">Read more …</a></p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
        <div class="mb-4 h1">
          <i class="fab fa-twitter"></i>
        </div>
        <h4 class="h3">        
            Follow us on Twitter!
        </h4>
        <p class="mb-0"></p>
        <p>For announcement of latest features etc.</p>
        <p></p>
        <p><a href="https://twitter.com/docsydocs">Read more …</a></p>
      </div>

		</div>
	</div>
</section>
-->



 <!--
      <a id="td-block-3" class="td-offset-anchor"></a>
      <section class="row td-box td-box--3 td-box--gradient td-box--height-auto">
      	<div class="col">
      		<div class="row ">
      				
            <div class="col">
            <h1 class="text-center">This is the second Section</h1>
            </div>
      			
      		</div>
      	</div>
      </section>


 
      <a id="td-block-4" class="td-offset-anchor"></a>
      <section class="row td-box td-box--4 td-box--gradient td-box--height-auto">
      	<div class="col">
      		<div class="row ">

            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              <div class="mb-4 h1">
                <i class="fab fa-app-store-ios"></i>
              </div>
              <h4 class="h3">
                
                  Download **from AppStore**
                
              </h4>
              <p class="mb-0">
                
                  </p><p>Get the Goldydocs app!</p>
                
              <p></p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              <div class="mb-4 h1">
                <i class="fab fa-github"></i>
              </div>
              <h4 class="h3">
                
                  Contributions welcome!
                
              </h4>
              <p class="mb-0">
                
                  </p><p>We do a <a href="https://github.com/google/docsy-example/pulls">Pull Request</a> contributions workflow on <strong>GitHub</strong>. New users are always welcome!</p>

                
              <p></p>
              <p><a href="https://github.com/google/docsy-example">Read more …</a></p>
            </div>

              <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
                <div class="mb-4 h1">
                  <i class="fab fa-twitter"></i>
                </div>
                <h4 class="h3">
                  
                    Follow us on Twitter!
                  
                </h4>
                <p class="mb-0">
                  
                    </p><p>For announcement of latest features etc.</p>

                  
                <p></p>
                <p><a href="https://twitter.com/GoHugoIO">Read more …</a></p>
              </div>

      		</div>
      	</div>
      </section>





 
      <a id="td-block-5" class="td-offset-anchor"></a>
      <section class="row td-box td-box--5 td-box--gradient td-box--height-auto">
      	<div class="col">
      		<div class="row ">
            <div class="col-12">
            <h1 class="text-center">This is another Section</h1>
            </div>		
      		</div>
      	</div>
      </section>

-->


      </main>
      

      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>